#front{
    background: url("./../../assets/images/landing.png") no-repeat center center/cover;
    height: 100vh;
    width: 100%;
    text-align: center;
    color: #fff;   
    background-attachment: scroll;
    display: flex;
    padding: 15% 0%;
    font-style: italic;

}
@media screen and (max-width:1120px){
    #front{
    height: 30rem;
    width: 100%;
    }
}
@media screen and (max-width:700px){
    #front{
    height: 19rem;
    width: 100%;
    
    }
}

#front .flx-box{
    align-items:center;
    justify-content:center;
    margin-left:2rem;
    margin-top:2rem;
}
h3 {
    font-size:30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:bold;
    }
@media screen and (max-width: 1120px) {
    h3 {
    font-size:30px;
    }
}
@media screen and (max-width: 855px) {
    h3 {
        font-size:25px;
    
    }
}
@media screen and (max-width: 700px) {
    h3 {
        font-size:20px;
    }
}
@media screen and (max-width: 566px) {
    h3 {
        font-size:18px;
    }
}
@media screen and (max-width:458px){
    h3{
        font-size:14px;
    }
}
@media screen and (max-width:378px){
    h3{
        display:none;
    }
}