.card-text{
    display: block;
    
}
@media screen and (max-width:1120px){
    .card-text{
    display: block;
    }
}@media screen and (max-width:767px){
    .card-text{
    display:none
    }
}
.crd :hover{
    background-color: white; 
    color: black;
    transition: 0.5s;
    cursor: pointer;
}
/*to fix the Aos responsiveness in mobiles*/
.forAos{overflow-x:hidden; overflow-y:hidden;}

